:root{
    --paleta1:#80aa7b; /*Cor principal*/
    --paleta2:#e6eee5; /*Fundo mais claro*/
    --paleta3:#e5eee4; /*Hover*/
    --paleta4:#666666; /*Ton de cinza*/
}

hr{
    padding: 0 !important;
    height: 0 !important;
}

.cor-paleta-1{
    color: var(--paleta1);
}
.cor-paleta-2{
    color: var(--paleta2);
}
.cor-paleta-3{
    color: var(--paleta3);
}
.cor-paleta-4{
    color: var(--paleta4);
}

.fundo-paleta-1{
    background-color: var(--paleta1)!important;
}
.fundo-paleta-2{
    background-color: var(--paleta2)!important;
}
.fundo-paleta-3{
    background-color: var(--paleta3)!important;
}
.fundo-paleta-4{
    background-color: var(--paleta4)!important;
}
.borda-paleta-1{
    border: 1px solid var(--paleta1)!important;
}
.borda-b-paleta-1{
    border-bottom: 1px solid var(--paleta1)!important;
}
.borda-b-paleta-2{
    border-bottom: 1px solid var(--paleta2)!important;
}
.icones-medios{
    font-size: 30px;
}

#pesquisaSite{
    max-width: 400px;
}
.btnStyle1{
    background-color: white;
    color: var(--paleta1);
    display: flex;
    align-items: center;
    justify-content: center;
}
.btnStyle1:hover{
    background-color: var(--paleta1);
    color: white;
}
.btnStyle2{
    background-color: none;
    color: black;
}
.btnStyle2:hover{
    background-color: var(--paleta1);
    color: white;
}

.accordion-button:not(.collapsed) {
    color: var(--paleta1);
    background-color: var(--paleta2);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.125);
}

#banner_categorias{
    width: 100%;
    height: 500px;
    border: 1px solid #f6f6f6;
}
#lista-categorias{
    padding: 0;
    padding: 5px 30px 0 0;
}
#lista-categorias > li{
    list-style: none;
    border-bottom: 1px solid #c6c6c6;
    padding: 6px 0;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
}
#lista-categorias > li:last-child{
    border-bottom: 0;
}
#lista-categorias > li > a{
    text-decoration: none;
}

#cadastro-footer{
    top: -60px;
}

.menu-footer{
    display: flex;
    flex-direction: column;
}
.menu-footer > a, .menu-footer span{
    text-decoration: none;
    color: white;
    font-size: 12px;
}
.menu-footer > a:hover{
    color: #deffda;
}
/***********MODAL 1**************/
#closeMenu span img{
    width: 20px;
}

#fadeMenu, #modalMenu{
    transition: 0.5s;
    opacity: 1;
    pointer-events: all;
}
#fadeMenu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 20;
}
#modalMenu {
    position: fixed;
    left: 0;
    top: 0;
    width: 250px;
    height: 100%;
    max-width: 90%;
    background-color: #fff;
    padding: 1.2rem;
    border-radius: 0.5rem;
    z-index: 22;
}
.modalMenu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}
.modalMenu-body{
    gap: 10px;
    display: flex;
    flex-direction: column;
}
.modalMenu-body a{
    width: 100%;
}

.modalMenu-body p {
    margin-bottom: 1rem;
}

#modalMenu.hide,
#fadeMenu.hide {
    opacity: 0;
    pointer-events: none;
}

#modalMenu.hide {
    top: 0;
}

/***********MODAL 2**************/
#closeMenu2 span img{
    width: 20px;
}

#fadeMenu2, #modalMenu2{
    transition: 0.5s;
    opacity: 1;
    pointer-events: all;
}
#fadeMenu2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 20;
}
#noTransition{
    transition: none;
    transform: none;
}
#modalMenu2 {
    position: fixed;
    left: 0;
    top: 0;
    width: 250px;
    height: 100%;
    max-width: 90%;
    background-color: #fff;
    padding: 1.2rem;
    border-radius: 0.5rem;
    z-index: 22;
}
.modalMenu-header2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}
.modalMenu-body2{
    gap: 10px;
    display: flex;
    flex-direction: column;
}
.modalMenu-body2 a{
    width: 100%;
}

.modalMenu-body2 p {
    margin-bottom: 1rem;
}

#modalMenu2.hide2,
#fadeMenu2.hide2 {
    opacity: 0;
    pointer-events: none;
}

#modalMenu2.hide2 {
    top: 0;
}

.swiper{
    max-height: 300px;
}
.h6, h6 {
    font-size: 1rem!important;
    border-bottom: 0px!important;
}
@media (min-width: 992px) {
    #conteudo-site .col-lg-3 {
        -ms-flex: 0 0 33%;
        flex: 0 0 33%;
        max-width: 33%;
    }
}